@import '../../../../app/scss/variables';

.hero-section {
  position: relative;
  overflow: hidden;
  padding: 140px 0;


  .section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 1200px) {
      flex-direction: column;
      text-align: center;
    }

    .hero-image-wrapper {
      position: absolute;
      right: 5%;
      bottom: 0;
      z-index: -1;
      // height: 600px;

      @media (max-width: 1200px) {
        position: relative;
        // height: auto;
      }

      @media (max-width: 992px) {
        display: none;
      }

      .hero-image {
        object-fit: cover;
        // height: 100%;
        // width: 100%;
      }
    }

    .hero-content {
      max-width: 672px;

      .hero-title {
        font-size: 52px;
        font-weight: 700;
        color: $black-color;
        margin-bottom: 30px;

        @media (max-width: 992px) {
          font-size: 42px;
        }

        @media (max-width: 576px) {
          font-size: 32px;
        }
      }

      .hero-description {
        font-size: 20px;
        font-weight: 400;
        color: $black-color;
        opacity: 0.7;
        margin-bottom: 50px;
        line-height: 1.4;

        @media (max-width: 992px) {
          font-size: 18px;
          margin-bottom: 30px;
        }

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      .btn-wrapper {
        display: flex;
        gap: 15px;

        @media (max-width: 1200px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 15px;
        }
      }

      .design-element-1 {
        width: 120px;
        height: 4px;
        background-color: $secondary-color;
        margin-bottom: 22px;

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
  }

  .design-element-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-1%, 40%);
    z-index: -1;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}