@import "../../../app/scss/variables";



  .section-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      text-align: center;
      font-size: 48px;
      font-weight: 700;

      @media (max-width: 992px) {
        font-size: 38px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
      }

      // @media (max-width: 576px) {
      //   font-size: 24px;
      // }
    }

    .section-description {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      opacity: 0.7;

      
      margin-inline: auto;
      max-width: 900px;

      @media (max-width: 992px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }