@import "../../../../app/scss/variables";

.our-strategy-section {
  position: relative;
  padding-block: 80px;
  height: 100%;
  background-color: $white-color;
  overflow: hidden;

  @media (max-width: 576px) {
    padding-block: 60px;
  }

  .our-strategy-wrapper {
    width: 100%;
    max-width: 700px;
    @media (max-width: 1200px) {
      margin-inline: auto;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }

    .our-strategy-top-content {
      .section-head {
        align-items: start;

        @media (max-width: 1200px) {
          align-items: center;
        }

        .section-description {
          text-align: start;

          @media (max-width: 1200px) {
            text-align: center;
          }
        }
      }
    }

    .our-strategy-bottom-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .steps-card {
        display: flex;
        gap: 50px;
        position: relative;
        padding-bottom: 30px;

        .steps-card-left {
          .steps-card-number {
            font-size: 32px;
            font-weight: 700;
            color: $primary-color;
            background-color: $white-color;
            border-radius: 50%;
            box-shadow: $shadow-lg;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 60px !important;
            height: 60px !important;
            min-width: 60px;
            min-height: 60px;
            flex-shrink: 0;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 50%;
              left: 4%;
              bottom: 0;
              height: 100%;
              border-left: 3px dashed $primary-color;
              opacity: 0.5;
              z-index: -1;
            }
          }
        }
        .steps-card-right {
          .steps-card-title {
            color: $primary-color;
            font-size: 24px;
            font-weight: 700;
          }

          .steps-card-description {
            font-size: 16px;
            color: $black-color;
          }
        }
      }
    }
  }

  .our-strategy-image {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100px);
    // transform: translate(100px, 100px);
    aspect-ratio: 1 / 1;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
